{% extends 'base.html' %}
{% block content %}
<div class="card">
  <h2>Home</h2>
  <p>Quick links:</p>
  <div class="grid-2">
    <a class="linkcard" href="{{ url_for('stats') }}">📊 Your Stats</a>
    <a class="linkcard" href="{{ url_for('leaderboard') }}">🏆 Leaderboard</a>
    {% if session.get('role') == 'teacher' %}
      <a class="linkcard" href="{{ url_for('createquiz') }}">📝 Create Quiz</a>
    {% endif %}
    <a href="{{ url_for('quizzes') }}">🎮 Live Quiz</a>
  </div>
</div>
{% endblock %}
